.page-title {
  display: block !important;
  font-size: 2rem;
  margin-top: 20px;
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.menu-bar {
  position: fixed;
  top: 0;
  width: 100%; 
  z-index: 100 !important;
  background-color:#131519 !important;
}

.menu-bar h1 {
  color: #F02A56;
  padding-left: 10px;
  padding-top: 10px;
}


.ui.secondary.pointing.menu .active.item {
  border-color: #F02A56 !important;
  color: #F02A56 !important;
}

.ui.secondary.pointing.menu .active.item:hover {
border-color: #F02A56 !important;
color: #F02A56 !important;
}

.ui.secondary.pointing.menu .item {
  color: #F02A56 !important;
}

.ui[class*="right floated"].button, .ui[class*="right floated"].buttons {
  background-color: #F02A56 !important;
}

.single-post {
  margin-top: 100px !important;
}